@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Manrope:wght@200&family=Poppins:wght@100&display=swap');

// Font Family
$inter-font: 'Inter';
$poppins-font: 'Poppins';

// Responsive Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//colors
$secondary-color: #000000;
$primary-color: #DE3047;