// Color variable
$primary-color: #24a19c;
$secondary-color: #ffc107;
$footer-primary: #1f1f1f;
$default-text-color: #1f1f1f;
$footer-text-color: rgba(255, 255, 255, 0.6);
$gray-text-color: #afafaf;
$placeholder-color: #afafaf;
$paragraph-text-color: #545454;

// Font Family
$inter-font: 'Inter';
$poppins-font: 'Poppins';

// Material Icons
$material-icons: 'Material Icons';

// Responsive Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
